<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FSD_BackendSessionProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HibernateInit</display-name>
    <servlet-name>HibernateInit</servlet-name>
    <servlet-class>com.ecommerce.servlets.HibernateInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateInit</servlet-name>
    <url-pattern>/HibernateInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataUpdate</display-name>
    <servlet-name>DataUpdate</servlet-name>
    <servlet-class>com.ecommerce.servlets.DataUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataUpdate</servlet-name>
    <url-pattern>/data-update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsList</display-name>
    <servlet-name>ProductsList</servlet-name>
    <servlet-class>com.ecommerce.servlets.ProductsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsList</servlet-name>
    <url-pattern>/list-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertElement</display-name>
    <servlet-name>InsertElement</servlet-name>
    <servlet-class>com.ecommerce.servlets.InsertElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertElement</servlet-name>
    <url-pattern>/InsertElement</url-pattern>
  </servlet-mapping>
</web-app>